<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42815676-7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-42815676-7');
    </script>
    <title>
        {% if page.title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/dmy3zac.css">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/flickity.css" | relative_url }}"" >
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Jake Atkin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="none" />
    <meta http-equiv="refresh" />
    {% if site.tags != "" %}
        {% include collect-tags.html %}
    {% endif %}
</head>
