<div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-braun.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-vivienne.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-mumandyou.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-bloom.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-jackwills.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-mondaine.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-anneklein.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-bulbul.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-ingersoll.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-luminox.png"></div>
    <div class="gallery-cell"><img src="assets/images/brand-small/brand-sm-mwatch.png"></div>
</div>