<section class="big-carousel-container">
    <div class="rowpad-54">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="text-large">55%</div>
                <div class="text">of online shoppers now start their search on Amazon</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">44%</div>
                <div class="text">Amazon accounted for 44% of all online sales in the US in 2017</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">34%</div>
                <div class="text">Sales on online marketplaces grew 34&percnt; in 2017, double the growth of online retail</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">50%</div>
                <div class="text">For the first time in 2017, more than half of Amazon's sales came from marketplace sellers</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">25%</div>
                <div class="text">A quarter of Amazon&apos;s marketplace sales are now cross-border</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">100m</div>
                <div class="text">Amazon has 100m prime customers worldwide, who spend an average of &dollar;1,400 a year on Amazon</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">&dollar;16b</div>
                <div class="text">Amazon&apos;s advertising income is expected to more than treble by 2021</div>
            </div>
            <!--
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            -->
        </div>
    </div>
</section>