<section class="big-carousel-container">
    <div class="rowpad-54">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="text-large">49%</div>
                <div class="text">Amazon&apos;s share of US e-commerce was 49% in 2018</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">310m</div>
                <div class="text">Amazon has 310m customer accounts worldwide</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">58%</div>
                <div class="text">of Amazon&apos;s gross merchandise sales are B2C from third pary marketplace sellers</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">100m</div>
                <div class="text">Amazon has 100m prime customers worldwide, who spend an average of &dollar;1,400 a year on Amazon</div>
            </div>
            <div class="mySlides fade">
                <div class="text-large">&dollar;16b</div>
                <div class="text">Amazon&apos;s advertising income is expected to more than treble by 2021</div>
            </div>
            <!--
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            -->
        </div>
    </div>
</section>