---
title: Home
layout: default
---

<section class="hero-container">
    {% include site-header.html %}
    <div class="hero">
        <div class="wrapper">
            <h1>Maximise your <br>Amazon business</h1>
            <img class="amazon-arrow-white" src="{{ "assets/images/amazon-transparent-arrow.png" | relative_url }}" />
            <div class="rowpad-16">
                <a class="white-ghost-button" href="{{ "/services/" | relative_url }}">Learn More &rarr;</a>
            </div>
        </div>
    </div>
</section>
<section class="ourpartners-container">
    <h2>Our Partners</h2>
    {% include home-carousel.html %}
</section>
<section class="introduction-container">
        <div class="wrapper">
            <h2>About us</h2>
            <div class="content-center">
                <p>MarketplacePower helps brands maximize their business on Amazon and other marketplaces. By using insight &amp; knowledge from our vast experience inside Amazon, we help optimize product content, branding, search advertising, display advertising, customer service, logistics and more, all contributing to maximising sales growth. We&apos;re flexible with our involvement &dash; we&apos;re able to manage things directly, or can play an advisory role.</p>
                <div class="rowpad-16">
                    <a class="red-full-button" href="{{ "/services/" | relative_url }}">Our Services &rarr;</a>
                </div>
            </div>
            <div class="experience-grid">
                <div class="row">
                    <div class="column-1-3">
                        <img class="img-grid" src="assets/images/banknote.png">
                        <p>Manage over <span class="highlight-green">&euro;10 million</span> in Amazon revenue and counting</p>
                    </div>
                    <div class="column-1-3">
                        <img class="img-grid" src="assets/images/network.png">
                        <p>Represent <span class="highlight-green">10+ brands</span> across Fashion, Consumables, Electronics, Sports &amp; more</p>
                    </div>
                    <div class="column-1-3">
                        <img class="img-grid" src="assets/images/clock.png">
                        <p><span class="highlight-green">12 years of experience</span> in Amazon across marketplace, retail and advertising</p>
                    </div>
                </div>
            </div>
        </div>
    </section>