---
layout: default
---

<section class="hero-container">
    {% include site-header.html %}
    <div class="hero">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>
<section class="ourpartners-container">
    <div class="content-center rowpad-16">
            <h2>Brands Who Trust Us</h2>
            <p>Who else better is there to run your Amazon or other marketplace business than people with vast experience within Amazon? MarketplacePower is here to share that experience. We&apos;re passionate about digital, marketplaces and Amazon and would love to help you and your brands seize the potential.</p>
    </div>
</section>

<section class="introduction-container">
        <div class="wrapper">
            <div class="rowpad-54">
                <div class="partner-grid">
                    <div class="row">
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-anneklein.png" | relative_url }}" alt="Anne Klein">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-bloom.png" | relative_url }}" alt="Bloom and Blossom">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-braun.png" | relative_url }}" alt="Braun">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-ingersoll.png" | relative_url }}" alt="Ingersoll">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-luminox.png" | relative_url }}" alt="Luminox">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-mwatch.png" | relative_url }}" alt="M Watch">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-mondaine.png" | relative_url }}" alt="Mondaine">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-vivienne.png" | relative_url }}" alt="Vivienne">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-bulbul.png" | relative_url }}" alt="Bulbul">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-mumandyou.png" | relative_url }}" alt="Mum&amp;You">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-jackwills.png" | relative_url }}" alt="Jack Wills">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-stylomatchmakers.png" | relative_url }}" alt="Stylo Matchmakers">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-drwho.png" | relative_url }}" alt="Dr Who">
                        </div>
                        <div class="column-1-3">
                            <img src="{{ "/assets/images/brand-assets/brand-onenine5.png" | relative_url }}" alt="Dr Who">
                        </div>
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </section>
    <section class="rowpad-54">
        <div class="wrapper">
            <div class="content-normal center">
                {{ content }}
            </div>
            <div class="rowpad-16">
                <a class="red-full-button" href="">How We Help &rarr;</a>
            </div>
        </div>
    </section>
    {% include site-carousel.html %}

