---
layout: default
---

<section class="hero-container">
    {% include site-header.html %}
    <div class="hero">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>
<section class="ourpartners-container">
    <div class="content-center rowpad-16">
        <h2>Who We Are</h2>
        <p>With over 310m customers worldwide, Amazon is a potentially lucrative sales channel for your brand, but does your company possess the knowledge, skills and resource to fully leverage it? Our team have a combined 12 years of experience across marketplace, retail and
        advertising at Amazon in Europe&mdash; and you can use us to maximise your Amazon sales, branding, and content.</p>
    </div>
</section>
<section class="container">
    <div class="wrapper">
        <div class=""><!-- .whoweare-container -->
            <h3 class="content-center">How We Help</h3>
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "/assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Enhanced Product Setup</strong></span><br>
                    Make sure your products have best in class detail pages, elevating your brand and product in the eyes of global customers.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Enhanced Brand Content/A+ Creation</strong></span><br>
                    Elaborate on the basics, make your detail pages educate, excite and enthuse with built in imagery and text.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Build Brand Stores</strong></span><br>
                    Build an exclusive environment for your brand on Amazon, tell your story.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Keyword Optimization</strong></span><br>
                    67&percnt; of Amazon users use the search bar, add comprehensive keywords to each and every product.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Search Advertising</strong></span><br>
                    Amazon advertising revenue grew 139&percnt; in Q1 2018, surpassing &dollar;2bn. Make this work for your brand.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Training</strong></span><br>
                        Amazon is complex, let us help you understand seller/vendor central in full.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Channel Strategy</strong></span><br>
                    Understanding Retail vs Marketplace, and which is best for your brand.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Logistics</strong></span><br>
                    How to best work with amazon operationally, it&apos;s not easy.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Amazon Shopper CRM &amp; Product Review Acceleration</strong></span><br>
                    How to communicate with your existing customer base, improve product reviews and customer satisfaction.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Programs</strong></span><br>
                        There are over 100m Amazon Prime members globally, is your brand getting exposure in all relevant programs?</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>EU &amp; Global Expansion</strong></span><br>
                    Are you selling globally? We can help make your brand available across Amazon&apos;s global sites.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Promotion Strategy &amp; Implementation</strong></span><br>
                    Today&apos;s Deals is the second most visited page on Amazon, let us help you capitalize upon it.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Social Media &amp; Amazon Strategy</strong></span><br>
                    Leverage your social following to drive amazon conversion.</p>
                </div>
                <div class="column-1-2">
                    <img class="img-amazon" src="{{ "assets/images/AmazonSmallIcon.svg" | relative_url }}">
                    <p class="grid-text"><span class="highlight-green"><strong>Seller Performance Issue Management</strong></span><br>
                    Selling on amazon is a privilege, if your account faces performance issues, we can help.</p>
                </div>
            </div><!-- .row -->
            <div class="row">
                <div class="rowpad-16">
                    <a class="red-full-button" href="{{ "/contact" | relative_url }}">Contact Us &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>